print("hello world")

list of data science language

In [ ]:
python
SQL
R
julia
scala

In [15]:
list=['python','sql','R']
print(list)

['python', 'sql', 'R']

In [ ]:
list of data science libraries

In [ ]:
 NumPy
 Pandas
 Matplotlib
 Scikit-learn
 TensorFlow

In [13]:
list=['numpy','pandas','matplotlib']
print(list)

['numpy', 'pandas', 'matplotlib']

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data science tools

In [11]:
# Importing necessary libraries
import numpy as np         
import pandas as pd         
import matplotlib.pyplot as plt 
    


data = {
    'Name': ['dha', 'rob', 'Charlie', 'raani', 'Eva'],
    'Age': [56, 30, 22, 35, 19],
    'Score': [85, 92, 68, 88, 90]
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Score
0      dha   56     85
1      rob   30     92
2  Charlie   22     68
3    raani   35     88
4      Eva   19     90

Arithmetic expression example

In [1]:
add=5+4
sub=9-8
print(add)
print(sub)

9
1

multiply and add numbers

In [2]:
mul=17*8
add=14+900
print(mul)
print(add)

136
914

Minutes to hours

In [3]:
min=350
hr=min/60
print(hr)

5.833333333333333

In [ ]:
unordered list

 Understand basic arithmetic operations
 Convert time units (minutes to hours)
 Perform multiplication and addition in Python

In [14]:
list = ['numpy', 'pandas', 'matplotlib']
print("Unordered List of Libraries:")
for item in list:
    print(f"- {item}")

Unordered List of Libraries:
- numpy
- pandas
- matplotlib

Author details

In [4]:
aut_name="Colleen hoover"
print(aut_name)

Colleen hoover